<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <form action="/" method="post" id="form" autocomplete="off">
        <input placeholder="Nombre de usuari@" type="text" name="usuario" id="txfUsuario" required>
        <input placeholder="Contraseña" type="password" name="contraseña" id="txfContraseña" required>
        <button type="submit"><a href="/">Enviar</a></button>
    </form>
</body>
</html>