* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ebebeb;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 12px;
}

div.top-header {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

header {
    background-color: #eac926;
}

header div.logo {
    padding: 10px;
    width: 50%;
}

header nav {
    font-size: 12px;
}

header ul li {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px;
}

header .form{
    width: 50%;
}

header .form .input {
    background-color: #fff;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit {
    background-color: #fff;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header div.top-header p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

div.burger-menu {
    text-align: center;
}

div.burger-menu i {
    background-color: #0044aa;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

article div.main-article {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.price {
    font-size: 18px;
    width: 30%;
}

.discount,
.description {
    font-size: 16px;
    font-weight: normal;
}

h3,
.description {
    color: #666;
}

.description-container{
    opacity: 0;
    height: 0;
    transition: opacity 200ms ease-in-out, height 300ms ease-in-out;
}

.description {
    display: none;
    margin-top: 20px;
}

section.banner img {
    width: 100%;
}

main {
    width: 90%;
    margin: 0 auto;
}

main section article {
    background-color: #fff;
    margin: 10px 0px;
    height: 100%;
}

main section article:hover .description-container{
    opacity: 1;
    height: 40px;
}

main section article:hover .truck-icon{
    transform: rotate(-90deg);
}

main section article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article img {
    width: 100%;
}

main section article i,
.discount {
    color: #39b54a;
    width: 70%;
}

.truck-icon {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: transform 300ms ease-in;
}

main section h3 {
    margin: 20px 0px;
}

header ul {
    margin-bottom: 16px;
}

@media (min-width: 361px) {
    main section article .description {
        display: block;
    }

    /*main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }*/

    main section .products {
        display: flex;
        flex-wrap: wrap;
        gap: 0px 16px;
        justify-content: center
    }

    main section .products article {
        width: 48%;
    }
}

@media (min-width: 769px) {
    main section .products article {
        width: 24%;
    }
    header div.logo {
        width: 30%;
    }
    header .form {
        width: 30%;
    }

    header div.top-header p {
        width: 40%;
        margin-top: 0px;
    }

    header nav {
        display: flex;
    }

    header nav ul{
        width: 50%;
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    header nav ul:nth-child(1){
        padding-left: 64px;
    }

    header nav ul:nth-child(2){
        padding-right: 64px;
        justify-content: flex-end;
    }

    div.burger-menu{
        display: none;
    }
}

footer {
    font-family: "Roboto", sans-serif;
    width: 90%;
    margin: 0 auto;
}

footer article div {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    padding: 15px;
}

.icon-footer {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #03264C;
    font-size: 2em;
}

.textofooter {
    font-size: 12px;
    text-align: center;
}

.titulo-footer {
    font-size: 24px;
    text-align: center;
}

#copyright {
    margin-left: 10px;
    margin-top: 30px;
    font-size: 10px;
    color: #666;
    text-align: left;
}